(
  enemies: [
    (
      kind: "green",
      sprite: (
        idle: 8,
        moving: [1, 2],
        frame_time: Some(0.08),
        scale: Some(1.0),
      ),
      metadata: (
        spawn_rate: 0.3,
      ),
      stats: (
        damage: 15.0,
        health: 150.0,
        attack_speed: 1.0,
        move_speed: 50.0,
      )
    ),
    (
      kind: "red",
      sprite: (
        idle: 12,
        moving: [1, 2, 3],
        frame_time: Some(0.12),
        scale: Some(1.0),
      ),
      metadata: (
        spawn_rate: 0.1,
      ),
      stats: (
        damage: 30.0,
        health: 450.0,
        attack_speed: 0.5,
        move_speed: 35.0,
      )
    ),
    (
      kind: "skin",
      sprite: (
        idle: 20,
        moving: [1],
        frame_time: Some(0.14),
        scale: Some(1.0),
      ),
      metadata: (
        spawn_rate: 0.5,
      ),
      stats: (
        damage: 10.0,
        health: 100.0,
        attack_speed: 1.25,
        move_speed: 70.0,
      )
    ),
  ],
)
